body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
}

.icon {
  padding-left: 12px;
  font-size: 14px;
  cursor: pointer;
}
.mic {
  padding: 4px 5px;
  border-radius: 5px;
  border: solid 1px #fff;
  float: right;
}
.lang {
  margin-right: 10px;
  padding: 4px 5px;
  border-radius: 5px;
  border: solid 1px #fff;
  float: right;
}
.mic svg {
  padding-left: 5px;
}

.system .mic-help {
  padding-top: 10px;
}

.system .mic-help .btn {
  padding: 7px 6px;
  border-radius: 5px;
  border: solid 1px #fff;
  cursor: pointer;
}

.keyinput {
  width: 100%;
  margin: 0 auto;
  background-color: #3a3939;
  position: relative;
}
.keyinput .save {
  position: absolute;
  right: 10px;
  color: #f2f2f2;
  font-size: 18px;
  top: 8px;
  cursor: pointer;
  padding: 2px;
  border-radius: 3px;
  background-color: #202020;
}
input[type="password"] {
  font-size: 16px;
  font-weight: bold;
  background-color: #3a3939;
  color: #f2f2f2;
  border: none;
  padding: 9px 0px;
  box-shadow: 0 0 5px rgba(0, 132, 255, 0.1);
  outline: none;
  width: 100%; /* 幅を計算して指定する */
  text-align: center;
  margin: auto;
}

.chatroom {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #00C300;
  color: white;
  font-size: 1.5rem;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  padding-left: 180px;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px 20px;
  background-color: #f0f0f0;
}

.messages::-webkit-scrollbar {
  width: 8px;
}
/* スクロールバーのトラック（背景）をグレー色にする */
::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

/* スクロールバーのスクロール部分（ハンドル）をグレー色にする */
::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 8px;
}

/* スクロールバーの角丸を調整 */
::-webkit-scrollbar-corner {
  background-color: #f2f2f2;
}

.message {
  max-width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 10px;
}

.mine {
  background-color: #DCF8C6;
  margin-left: auto;
}

.system {
  background-color: #0077c7;
  margin-right: auto;
  color: #f0f0f0;
  font-weight: bold;
}

.theirs {
  margin-right: auto;
}