@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
}

#MessageList {
  height: inherit;
}

#MessageList div {
  height: inherit;
  background-color: transparent;
}

#message-list {
  scrollbar-width: thin;
}
